<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing Text</title>
</head>
<body style="background:GREEN;box-sizing: border-box;">
    <h1 style="margin-left:20rem; margin-top:10rem">You Analyzed Text - {{ purpose }}</h1>

        <table style="table-layout: auto;text-align:center;
      width: 200px;height:150px;background:YELLOW;margin-left:30rem;margin-right:21.5rem;border-style:groove;border-radius:1rem;">
            <tr>
                <td>
                    {{ analyzed_text }}
                </td>
            </tr>
        </table>


</body>
</html>