<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body style="background:GREEN">


        <h1 style="margin-left:20rem; margin-top:10rem">Welcome to Text analyzer : Enter your text below</h1>
        <form action="/analyze" method="get" style="background:YELLOW;margin-left:20rem;margin-right:21.5rem;border-style:groove;border-radius:1rem;">
            <textarea name="text" style="text-indent:10px;height: 135px; width: 674px;border-style:groove;border-radius:1rem;"></textarea><br>
            <input type="checkbox" name="removepunc"> Remove Punctuations <br>
            <input type="checkbox" name="fullcaps"> UpperCase <br>
            <input type="checkbox" name="lowcaps"> LowerCase <br>
            <input type="checkbox" name="firstcaps"> Capitalize First <br>
            <input type="checkbox" name="extraspaceremover"> Extra Space Remover <br>
            <input type="checkbox" name="newlineremover"> New Line Remover <br>
            <input type="checkbox" name="countletters"> Count Number of Letters <br>
            <center><button type="submit">Analyze Text</button></center>

            <br>
        </form>


</body>
</html>